/*** RESET ***/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
}


/*** debugger ***/

.debugger {
    background-color: cadetblue;
    border: 1px dashed red;
}

/*** general ***/

.button {
    color: #ffffff;
    background-color: #0061fe;
    padding: 8px 15px;
    text-decoration: none;
    display: inline-block;
}

.button:hover {
    filter: brightness(1.4);
}

.container {
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
}

h1 {
    font-size: 70px;
    text-align: left;
    padding-top: 100px;
    font-weight: 1000;
}

h3 {
    font-size: 25px;
}

em {
    color: #d0cfd4;
}


/*** header ***/

.h-nav {
    display: flex;
    height: 80px;
    background-color: #ffffff;
    align-items: center;
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 1px 1px 1px grey;
}

.h-nav > div {
    padding: 5px;
}

.h-l-list,
.h-r-list {
    flex-grow: 1;
    margin-left: 40px;
}

.h-list {
    display: flex;
    list-style-type: none;
    gap: 40px;
}

.h-r-list .h-list{
    justify-content: end;
    align-items: center;
}

.h1-cont{ 
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
}

.jumbo {
    background-color: #b4d0e6;
    padding-bottom: 25px;
    margin-right: 5px;
    margin-bottom: 190px;
}


.jumbo .container div:first-child {
    width: 35%;
    flex-shrink: 0;
    
}

.container img {
    max-width: 100%;
}

.jumbo .container li {
   margin-bottom: 35px; 
}

li a {
    text-decoration: none;
    color: #000000;
} 

header .container ul li:last-child {
    font-size: 40px;
}

header ul {
    list-style: none;
}

.jumbo .container {
    position: relative;
    top: 75px;
}


/*** main***/

main {
    max-width: 1000px;
    margin: 0 auto;
}

main h2 {
    font-size: 30px;
    margin-bottom: 70px;
}

.circle {
    border: 5px solid #0061fe;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
}

.c-right {
    border: 1px solid #d0cfd4;
    margin-left: 30px;
}

.container-grid1 {
    margin: 50px 0 120px 0;
}

.container-grid1 .box {
    width: calc((100% - 100px) / 3);
    flex-shrink: 0;
}

.container-grid1 .box div:first-child {
    text-align: center;
    padding: 10px 0;
    border-bottom:  1px solid #d0cfd4;
}

.container-grid1 .box,
.container-grid2 .box {
    width: calc((100% - 100px) / 3);
    flex-shrink: 0;
    border: 1px solid #d0cfd4;
}

.container-grid1 .box:last-child {
    width: 100%;
}

.container-grid1,
.container-grid2 {
    flex-wrap: wrap;
    gap: 50px;
    display: flex;
}

.down-section ul:first-child {
    list-style-type: none;
} 

.down-section ul li {
    margin: 10px 0;
}

.down-section {
    padding: 40px 35px;
}

.down-section ul strong,
.down-section ul em {
    font-size: 15px;
}


.container .cont-txt {
    width: 40%;
    flex-grow: 0;
}

main .container {
    margin-top: 220px;
}

.down-section a {
    margin: 35px 0;
}

h4 {
    margin: 35px 0;
}

.down-section ul:last-child li i {
    color: #0061fe;
}


/*** footer ***/

footer {
    background-color: #000000;
}

footer .container {
    color: #ffffff;
}

footer .f-list {
    width: 20%;
}