/*** RESET ***/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font */
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}


/*** debugger ***/

.debugger {
    background-color: cadetblue;
    border: 1px dashed red;
}


/*** header ***/

.h-nav {
    display: flex;
    height: 80px;
}

.h-nav > div {
    padding: 5px;
}

.h-l-list {
    flex-grow: 1;
}

.h-list {
    display: flex;
    list-style-type: none;
    gap: 5px;
}

.h-r-list .h-list{
    justify-content: end;
}

.h-r-list {
    flex-grow: 1;
}

.container {
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
}

.jumbo {
    background-color: #b4d0e6;
}

h1 {
    text-align: center;
}

.jumbo .container :first-child {
    width: 35%;
    flex-shrink: 0;
}


/*** main***/

main {
    max-width: 1000px;
    margin: 0 auto;
}

.container-grid1 .box,
.container-grid2 .box {
    width: calc((100% - 100px) / 3);
    flex-shrink: 0;
}

.container-grid1 .box:last-child {
    width: 100%;
}

.container-grid1,
.container-grid2 {
    flex-wrap: wrap;
    gap: 50px;
    display: flex;
    margin: 0 auto 220px;
}

.container .cont-txt {
    width: 40%;
    flex-grow: 0;
}

main .container {
    margin-bottom: 220px;
}

.container-grid1 .box {
    width: calc((100% - 100px) / 3);
    flex-shrink: 0;
}
